@charset "UTF-8";
body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* background of website */
.vinyl{
	height: 100vh;
	background-image: url("images/pexels-SuzyHazelwood-Vinyl.jpg");
	background-size: cover;
	background-position: center;
}

/* Entire navigation bar on website ie. logo(ilucas), navbar(home,about,music,contact), and Github button */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
	padding-left: 10%;
	padding-right: 10%;
}


/* ilucas in website. Top left corner */
.logoname{
	color: black;
	font-size: 28px;
}

/* home, about, music, contact navigation properties */
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

/* home, about, music, contact navigation properties */
nav ul li a{
	color: rgb(8, 8, 8);
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
}

/* home, about, music, contact nav properties */
nav ul li a:hover{
	color: rgb(187, 132, 30);
	transition: .3s;
}


/* Github button on Website */
button{
	border: none;
	background: rgb(187, 132, 30);
	padding: 12px 30px;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	transition: .4s;
}

/* Github button on Website */
button:hover{
	transform: scale(1.3);
	cursor: pointer;
}


/* Break!!!! */


/* Text in Idex.html */
.welcome{
	text-align: center;
	border-radius: 0px;
	font-weight: bold;
	font-size: 60px;
	color: rgb(241, 236, 236);
}

/* Text in "About" webpage */
.maintext{
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
	opacity: 0.8;
}


/* list on "Music" webpage */
ul, li{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.apple{
	list-style-position: inside;
	background-color: rgb(50, 49, 49);
	opacity: 0.8;
}

.apple a:link{
	color: rgb(187, 132, 30);
  background-color: transparent;
  text-decoration: none;
}

.apple a:visited{
	color: rgb(249, 246, 246);
	background-color: transparent;
	text-decoration: underline;
}

.apple a:hover{
	color: rgb(187, 132, 30);
  background-color: transparent;
  text-decoration: underline;
}





/* form on "contact" webpage */
.form{
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 1px;
  padding: 10px;
	
}



/* footer properties for all of website */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  text-align: center;
  padding: 3px;
  background-color: rgb(187, 132, 30);
  color: white;
	opacity: 0.5;
}

footer p{
	color: rgb(8, 8, 8);
	text-decoration: none;
	font-weight: bold;
}

footer a{		
	font-weight: bold;
}

/* LINK COLORS, HOVER ETC. FOR FOOTER */
footer a:link{
	color: rgb(14, 15, 14);
  background-color: transparent;
  text-decoration: none;
}

footer a:visited{
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

footer a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

/* for Index */
span{
	background-color: black;
  opacity: 0.7;
}
